body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

p {
	clear: both;
}
th {
	background-color: #dddddd;
}
.odd {
	background-color: #eecccc;
}
.even {
	background-color: #cceecc;
}
td {
	vertical-align: top;
	padding: 5px;
}

.state_label {
	margin-bottom: 10px;
	float: left;
	width: 60px;
}
.state_text {
	margin-bottom: 10px;
	float: left;
	width: 180px;
}
.state_input {
	width: 150px;
}
.state_radio {
	clear: both;
	width: 120px;
}